body {
  line-height: 1;
  position: relative;
  text-align: center;
  z-index: -1;
}

.phone {
  z-index: 1;
  display: flex;
  width: 30%;
  height: 90%;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* tanpa ini maka kurang center*/
  padding: 15px;
}

.mis {
  color: white;
  font-family: 'Quicksand';
  position: absolute;
  top: 30%;
  right: 66%;
  z-index: 10;
}

.mis1 {
  color: white;
  font-family: 'Quicksand';
  position: absolute;
  top: 35%;
  right: 66%;
  z-index: 10;
}

.mis2 {
  color: white;
  font-family: 'Quicksand';
  position: absolute;
  top: 40%;
  right: 66%;
  z-index: 10;
}

.garisTitik {
  z-index: 1;
  width: 450px;
  border-bottom: 5px dotted orangered;
  position: absolute;
  bottom: 30%;
  right: 8%;
}

.garisTitik1 {
  z-index: 1;
  width: 450px;
  border-bottom: 5px dotted #002766;
  position: absolute;
  bottom: 28%;
  right: 8%;
}

.garisTitik2 {
  z-index: 1;
  width: 450px;
  border-bottom: 5px dotted #002766;
  position: absolute;
  bottom: 26%;
  right: 8%;
}

.garisTitik3 {
  z-index: 1;
  width: 450px;
  border-bottom: 5px dotted #002766;
  position: absolute;
  bottom: 24%;
  right: 8%;
}

.garisTitik4 {
  z-index: 1;
  width: 450px;
  border-bottom: 5px dotted whitesmoke;
  position: absolute;
  bottom: 22%;
  right: 8%;
}

.form {
  width: 80%;
  margin-top: 10px;
  background-color: #096dd9;
  color: white;
  /* margin-left: 10px; */
}

.data {
  width: 80%;
  margin-top: 10px;
  /* margin-right: 10px; */
}

.data:hover {
  background-color: #096dd9;
  color: white;
}